# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/<project-name>

# Dependencies
vendor/
go.work
go.work.sum

# Build
/bin/
/dist/

# IDE
.vscode/
.idea/
*.iml
*.swp
*.swo

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
__debug_bin

#bash file
.copy.bash

output.txt

